footer ul li {
    list-style-type: none;
    color: grey;
    margin-top: 15px;
}

footer {
    background-color: rgb(17, 17, 17);
    padding-left: 3vw;
    padding-top: 20px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
}

.title {
    color: white;
    font-weight: bold;
}

footer > ul {
    margin-left: 1px;
}

#link {
    display: flex;
}

#reseaux {
    display: flex;
}

#reseaux li {
    margin-left: 10px;
}
